html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background-color: black;
}
Button{
    background:url(./images/Banner.png) no-repeat;
    cursor:pointer;
    border:none;
    width:250px;
    height:100px;
}

Button:active  /* use Dot here */
{
    background:url(./images/Banner2.png) no-repeat;
}
p{
  color: white;
}
a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
  background-color: grey;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}
table, td, th {

  border: 1px solid white;
  color: white;
  text-align: center;
}
table {
  width: 50%;
}
